# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/client/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
/client/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
/client/.angular/cache
/.containers/
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/
/client/test-results/
/test-results/
/scratch/

# .NET build output
/server/**/bin
/server/**/obj

# System files
.DS_Store
Thumbs.db

# Secrets
client/client/.auth/
client/.auth/
client/output/
